.toolbar {
    width: 250px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-left: 2px solid #ccc;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.toolbar-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.toolbar button:hover {
    background-color: #e0e0e0;
}