.board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(17, 1fr);
    background-color: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.board-row {
    display: contents;
}

.board-cell {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
}


.cell-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}

/* Rotate images for specific parts */
.board-cell[title*="ramp_right"] .cell-image {
    transform: rotate(0deg);
}

.board-cell[title*="ramp_left"] .cell-image {
    transform: rotate(180deg);
}

.board-cell[title*="bit_right"] .cell-image {
    transform: rotate(0deg);
}

.board-cell[title*="bit_left"] .cell-image {
    transform: rotate(180deg);
}
.board-cell[title*=""] .cell-image {

}

.board-cell[title*="border_diagonal_right"] .cell-image {
    transform: rotate(90deg);
}